* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(0, 7, 138);
  padding-top: 5px;
  padding-bottom: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  gap: 30px;
}

.gallery-img {
  display: block;
  width: 250px;
  height: 150px;
}

/* .info {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
} */

.info-item {
  text-align: center;
  font-size: 10px;
  line-height: 1.5px;
}

/* .load-more {
  background-color: white;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
} */

/* .btn-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0000);
} */
